.container {
  display: flex;
  gap: 30px;
}

.paymentInformation {
  flex: 1.5;
}
.yourProduct {
  flex: 1;
}

@include respond(lg) {
  .paymentInformation {
    flex: 1;
  }
  .yourProduct {
    flex: 1;
  }
}

@include respond(md) {
  .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .actions {
    position: sticky;
    bottom: 0;
    z-index: 999;
    width: 100%;
    background: #fff;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.04);
    padding-bottom: 8px;
  }
}
