@use "mixins" as *;

.relative {
  position: relative;
}
.container_section {
  margin: 0 auto;
  padding: 30px 120px;
  width: 100%;

  @include respond(lg) {
    padding: 30px 60px;
  }

  @include respond(md) {
    padding: 30px;
  }
}
.title-center {
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1.5px;
  background: var(--gradient-nav);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
