:root {
  --background: #{$background-light};
  --foreground: #{$foreground-light};
  --bg-toggle-theme-light: #{$bg-toggle-theme-light};
  --bg-toggle-icon-theme-light: #{$bg-toggle-icon-theme-light};
  --bg-header: #{$bg-header};
  --border-color-light: #{$border-color-light};
  --gradient-nav: #{$gradient-nav-light};
}

[data-theme="dark"] {
  --background: #{$background-dark};
  --foreground: #{$foreground-dark};
  --bg-toggle-theme-dark: #{$bg-toggle-theme-dark};
  --bg-toggle-icon-theme-dark: #{$bg-toggle-icon-theme-dark};
  --border-color-dark: #{$border-color-dark};
  --gradient-nav: #{$gradient-nav-dark};
}
