* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-noto-sans: "Noto Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-lora: "Lora", serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: px-to-rem(16);
  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  font-family: var(--font-noto-sans);
  font-weight: 500;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

header {
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-lora);
}

.swiper-pagination-bullet {
  background-color: transparent !important;
  border: 1px solid #dc143c !important;
  opacity: 1 !important;
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: #dc143c !important;
}