.container {
  height: calc(100vh - 70px);
  overflow: hidden;
  width: 100%;
}
.imageWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}
