.container {
  height: 100vh;
  max-height: 100dvh;
  overflow: hidden;
  width: 100%;

  @include respond(lg) {
    height: 80vh;
    min-height: 600px;
  }

  @include respond(md) {
    height: 70vh;
    min-height: 500px;
  }

  @include respond(sm) {
    height: 60vh;
    min-height: 400px;
    max-height: 70vh;
  }

  @include respond(xs) {
    height: 50vh;
    min-height: 350px;
    max-height: 60vh;
  }
}

.imageWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(29, 35, 31, 0) 0%, #021d2e 110%);
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #021d2e 0%, rgba(29, 35, 31, 0) 40%);
    z-index: 1;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  min-height: 100vh;

  @include respond(lg) {
    min-height: 600px;
  }

  @include respond(md) {
    min-height: 500px;
  }

  @include respond(sm) {
    min-height: 400px;
  }

  @include respond(xs) {
    min-height: 350px;
  }
}
