.skeleton {
  width: 48px;
  height: 26px;
  border-radius: 26px;
  background: linear-gradient(90deg, #eee 25%, #ddd 50%, #eee 75%);
  animation: skeleton-loading 1s infinite linear;
}

@keyframes skeleton-loading {
  0% {
    background-position: -48px 0;
  }
  100% {
    background-position: 48px 0;
  }
}

.toggle {
  display: flex;
  transform: scale(0.7);
}

.label {
  position: relative;
  display: block;
  width: 48px;
  height: 26px;
  border-radius: 26px;
  background-color: var(--bg-toggle-theme);
  overflow: hidden;
  cursor: pointer;
}

.label:before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  background-color: var(--bg-toggle-icon-theme);
  transition: 1.1s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 2;
}

.label:after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  background-color: var(--bg-toggle-theme);
  transform: scale(0);
  z-index: 3;
}

.input[type="checkbox"] {
  display: none;
}

.input[type="checkbox"]:checked + .label:before {
  transform: translateX(22px);
}

.input[type="checkbox"]:checked + .label:after {
  transform: translateX(10px) scale(1);
}
