.skeleton {
  width: 48px;
  height: 26px;
  border-radius: 26px;
  background: linear-gradient(90deg, #eee 25%, #ddd 50%, #eee 75%);
  animation: skeleton-loading 1s infinite linear;
}

@keyframes skeleton-loading {
  0% {
    background-position: -48px 0;
  }
  100% {
    background-position: 48px 0;
  }
}
.toggle {
  display: flex;
  transform: scale(0.7);
}

.label {
  position: relative;
  display: block;
  width: 48px;
  height: 26px;
  border-radius: 26px;
  background-color: var(--bg-toggle-theme-light);
  overflow: hidden;
  cursor: pointer;
}

[data-theme="dark"] .label {
  background-color: var(--bg-toggle-theme-dark);
}

.label:before,
.label:after {
  display: block;
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  transition: 0.5s ease;
}

.label:before {
  background-color: #ffa41b;
}

.label:after {
  background-color: #000839;
  left: -16px;
  transform: scale(0.00001);
  transition: none;

  @media (prefers-color-scheme: dark) {
    & {
      background-color: #fff;
    }
  }
}

.input[type="checkbox"] {
  display: none;
}

.input[type="checkbox"]:checked + .label:before {
  background-color: #fff;
  transform: translateX(22px);

  @media (prefers-color-scheme: dark) {
    & {
      background-color: #000;
    }
  }
}

.input[type="checkbox"]:checked + .label:after {
  transform: translateX(30px) scale(1);
  transition: 0.5s ease;
}

.input[type="checkbox"]:not(:checked) + .label:after {
  transition: none !important;
}
