.circle {
  position: absolute;
  background-color: var(--bg-CircleQuantity);
  min-width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 50%;
  text-align: center;
  right: -7px;
  bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2px;

  &.twoDigits {
    min-width: 18px;
    padding: 0 3px;
    border-radius: 8px;
  }

  &:has(.quantity:nth-child(n + 2)) {
    min-width: 18px;
    padding: 0 3px;
    border-radius: 8px;
  }
}

.quantity {
  color: var(--background);
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
}
